.main-body
{
    background-color: darkslategray;
    color: bisque;
}

.pet-list
{
    background-color: bisque;
    border: 1px solid black;
    height: 600px;
    margin: 5px;
}

.pet-details
{
    background-color: bisque;
    border: 1px solid black;
    height: 600px;
    margin: 5px;
}

.modal-content
{
    background-color: lightgray;
}