.main-body
{
    background-color: darkslategray;
    color: bisque;
}

.pet-list
{
    margin: 5px;
    overflow: visible;
}

.pet-details
{
    background-color: bisque;
    border: 1px solid black;
    height: 600px;
    margin: 5px;
}

.modal-content
{
    background-color: darkslategray;
}

.pet-image-box
{
    width: 200px;
    height: 200px;
}